<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Mushroom Store</title>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>

</head>

<p>Search below for a medicinal mushroom(home.html)</p><br>
<!--       link to resource to reference     https://developers.google.com/web/updates/2015/03/introduction-to-fetch                                       -->
<body>
    <div class="container">
      <div id="root">  </div>
    </div>  

<!-- NOTE: script type declaration to support JSX -->
<script type="text/babel">
    // define app container Component
    class MushroomApp extends React.Component{
      constructor(props){
        // Pass props to parent class
        super(props);
        // Set initial state w/ hard-coded data
        this.state = {
          data: {{{mushrooms}}},
          filter: "", // search term 
          curItem: {} // current selected item 
        };
        // bind App context to functions for reference in sub components
        // this.onSearchChange = this.onSearchChange.bind(this);
        // this.onSave = this.onSave.bind(this);
        // this.onDelete = this.onDelete.bind(this);
      }


      // show item details
      showDetails(event){
        // event.target is list item clicked
        console.log(event.target)
        // let editItem = this.state.data.find((item) => {
        //   return item._id == event.target.id;
        // });
        // this.setState({curItem: editItem});
      }
      
      render() {
        return <div>
          <Title/>
           <ItemList
              items={this.state.data} 
              filter={this.state.filter}
              show={this.showDetails.bind(this)}
            />
          </div>;
      }
    }
    
    // UI elements
    const Title = () => {
        return (
        <div>
           <div>
              <h1>Mushroom Store</h1>
           </div>
        </div>
        );
    }
    
        const ItemList = ({items, filter, show}) => {
      // return items that match search entry field, or all items if no entry
      const itemNodes = items.map((item) => {
        if (!filter || item.title.toLowerCase().includes(filter)) { 
          return <li id={item._id} key={item._id} onClick={show}>{item.type}</li>
        }
      });
      return <ul>{itemNodes}</ul>;
    }

    


    ReactDOM.render(<MushroomApp />, document.getElementById('root'));
</script>

<footer>&copy; Fungal Life Insurance <a href="/about">About</a> </footer>
</body>
</html>