<html>
    <head>
    	<title>HOME</title>
    </head>
    <body>
        <a href="/">Home</a>
        <h1>Fungal Life Insurance</h1>
        
        {{#if result}}
            <h2>{{result.type}}</h2>
            <li><em>Latin Name: </em> {{result.otherName}}</li>
            <li><em>Common Uses: </em> {{result.use}}</li>
            <li><em>Dosage Frequency: </em> {{result.frequency}}</li>
            <li><em>Dosage Amount (Mg): </em> {{result.dosageMg}}</li>
        {{else}}
        <h2>{{type}} not found yet</h2>
        {{/if}}

    
            <a href="/get?type={{type}}">reishi</a>
            <a href="/get?type={{type}}">chaga</a>
            <a href="/get?type={{type}}">turkey tail</a>
            <a href="/get?type={{type}}">maitaake</a>
            <a href="/get?type={{type}}">cordycep</a>
            <a href="/get?type={{type}}">lions mane</a>
    </body>
</html>




app.post('/catalog', function(req,res){
    let header='Info on medicinal mushroom' + req.body.type;
    let found= mushroom.get(req.body.type);
    res.render("details", {type: req.body.type, result: found} );
});



