<html>
	<head>
		<title>HOME</title>
	</head>
<body>
<h1>Fungal Life Insurance</h1>
<p>Search below for a medicinal mushroom</p><br>
<!--search form-->
<form method="POST" action="/get">
    <input type="text" name="type" placeholder="search mushroom name" required maxlength="100">
    <button>Search</button>
</form>

{{#each items}}
<li><a href="/get?type={{type}}">{{type}}</a></li>
{{/each}}

 	<a href="/about">About</a>
 	<footer style="color:cyan">Copyright© 2017 by Daniel Tracy All Rights Reserved Seattle,Wa</footer>
	</body>
</html>


