<html>
    <body>
        <a href="/">Home</a>
{{#if result}}
    <header>{{pageheader}}</header>
    <h2>{{type}} details</h2>
    <li><em>Type:</em> {{result.type}}</li>
    <li><em>Latin Name:</em> {{result.otherName}}</li>
    <li><em>Common Uses:</em> {{result.use}}</li>
    <li><em>Dosage Frequency:</em> {{result.frequency}}</li>
    <li><em>Dosage Amount (Mg):</em> {{result.dosageMg}}</li>
    <p>
    <a href="/delete?type={{result.type}}">Delete</a>
    </p>
{{else}}
        <h2>{{type}} not found</h2>
{{/if}}
    </body>
</html>


